<div class="mb-3">
      <%= link_to "Create a Room", new_room_path, class: "btn btn-primary" %>
</div>
<% debugger %>
    <% if @rooms.present? && @user_rooms.present? %>
      <nav class="nav flex-column">
        <% @rooms.each do |room| %>
          <div class="row delete_room">
            <% if can? :read, room %>
              <div class="col-6">
                <%= link_to room.name, room_path(room), class: "nav-link room-nav-link" %>
              </div>
              <div class="row" %>
                <% if current_user.admin? || current_user.user_rooms.where(room_id: room.id).present? %>
                  <div class="col-5" id="connect">
                    <% temp_message = find_room_creator(room)%>
                    <%= link_to "Delete", room_path(room), method: :delete, data: { confirm: "#{temp_message}" },
                      remote: true, class:"badge badge-danger" %>
                  </div>
                  <div class="col-5">
                    <%= link_to "Edit", edit_room_path(room), class: "badge badge-info" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no rooms
      </div>
    <% end %>

