<div class="row">
  <div class="col-12 col-md-3" id="room_header">
    <div class="mb-3">
      <%= link_to "Create a Room", new_room_path, class: "btn btn-primary" %>
    </div>

    <% if @rooms.present? %>
      <nav class="nav flex-column">
        <% @rooms.each do |room| %>
          <div class="row delete_room">
            <% if can? :read, room %>
              <div class="col-6">
                <%= link_to room.name, room_path(room), class: "nav-link room-nav-link" %>
              </div>
              <div class="row" %>
                <% if current_user.admin? || current_user.user_rooms.where(room_id: room.id).present? %>
                  <div class="col-5">
                    <%= link_to "Delete", room_path(room), method: :delete, data: { confirm: "Are You Sure" }, remote: true, class:"badge badge-danger" %>
                  </div>
                  <div class="col-5">
                    <%= link_to "Edit", room_path(room), class: "badge badge-info" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no rooms
      </div>
    <% end %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
</div>
